@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3b4546; }

html {
  font-size: 62.5%; }

body {
  font-family: Barlow, Arial, Helvetica, sans-serif; }

a {
  text-decoration: none;
  display: inline-block; }

.container {
  padding-left: 6.2rem;
  padding-right: 6.2rem; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.bg-white {
  background-color: #ffffff; }

.align-center {
  text-align: center; }

.mt-2 {
  margin-top: 2rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mr-1 {
  margin-right: 1rem; }

.header-3, .header-3-yellow {
  color: #3b4546;
  font-size: 4rem;
  text-transform: uppercase; }

.header-3-yellow {
  color: #ffd876; }

.header-3-lower {
  color: #3b4546;
  font-size: 4rem;
  font-weight: 500; }

.header-5 {
  font-size: 3rem;
  color: #3b4546;
  font-weight: 600; }

.header-6 {
  font-size: 2.5rem;
  color: #3b4546;
  font-weight: 500; }

.p-20, .p-20-light {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #3b4546;
  font-weight: 500; }

.p-20-light {
  font-weight: 300; }

.d-block {
  display: block; }

.btn-explore {
  color: #3b4546;
  border: 3px solid #3b4546;
  background-color: #ebf8f7;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1.2rem 3rem;
  box-shadow: 4px 4px 0px #ffd876;
  text-align: center; }

.btn-explore:hover {
  box-shadow: none;
  border: 3px solid transparent;
  transition: all .2s; }

.btn-grey {
  color: #3b4546;
  border: 3px solid #3b4546;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 4rem;
  max-width: 33.4rem; }

.btn-yellow {
  background-color: #ffd876;
  font-size: 2rem;
  font-weight: 600;
  color: #3b4546;
  padding: 1rem 4rem;
  text-align: center;
  text-transform: uppercase; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  padding-top: 4rem;
  background-color: transparent;
  transition: all .5s;
  z-index: 1000; }
  .navbar:hover {
    background-color: #ffffff;
    box-shadow: 1px 1px 15px #4275af; }
    .navbar:hover div:last-child {
      border-bottom: 1px solid #bfe9e7; }
    .navbar:hover .light-logo {
      display: block; }
    .navbar:hover .dark-logo {
      display: none; }
  .navbar-logo {
    margin-left: 6.2rem;
    min-width: 144px;
    height: 64px;
    margin-top: -2rem; }
    .navbar-logo .light-logo {
      display: none;
      height: 100%;
      width: 100%; }
    .navbar-logo .dark-logo {
      display: block;
      height: 100%;
      width: 100%; }
  .navbar-lists {
    display: flex;
    margin-bottom: 2rem;
    list-style: none; }
    .navbar-lists__links, .navbar-lists__links:visited {
      text-decoration: none;
      font-size: 2rem;
      text-transform: uppercase;
      color: #3b4546;
      margin-left: 3rem;
      margin-right: 3rem; }
      .navbar-lists__links:hover, .navbar-lists__links:visited:hover {
        color: #4275af; }
  .navbar div:last-child {
    overflow-y: hidden;
    border-bottom: 1px solid #ffffff;
    margin-right: 6.2rem; }

.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 2rem; }
  .footer-logo__socials img {
    padding: 2.1rem; }
  .footer-list a {
    display: block;
    font-size: 1.8rem;
    color: #3b4546;
    font-weight: 600;
    margin-bottom: 1rem; }
  .footer-contact h6 {
    font-size: 1.8rem;
    color: #3b4546;
    font-weight: 600;
    margin-bottom: 2rem; }
  .footer-contact div {
    margin-bottom: 6rem; }
  .footer-contact img {
    float: left; }
  .footer-contact p {
    float: right;
    font-size: 1.8rem;
    color: #3b4546;
    font-weight: 300;
    width: 19rem; }
  .footer-form {
    background-color: #e3f1f0;
    padding: 2rem;
    margin-top: 5rem; }
    .footer-form p {
      font-size: 1.8rem;
      color: #3b4546;
      font-weight: 600;
      margin-bottom: 2rem;
      width: 26.8rem; }
    .footer-form div {
      display: flex; }
      .footer-form div input,
      .footer-form div input:focus {
        background-color: transparent;
        border: none;
        outline: none;
        height: 4.2rem;
        width: 26.8rem;
        font-size: 1.5rem;
        border-bottom: 1px solid #89bbe0;
        padding: .5rem; }
      .footer-form div img {
        background-color: #89bbe0;
        padding: 1rem; }

body {
  background-color: #bfe9e7; }

.main-tag {
  min-height: 90rem; }
  .main-tag h3 {
    margin-top: 18rem; }

.chat-icon {
  width: 6.8rem;
  height: 6.8rem;
  background-color: #ffd876;
  border-radius: 100px;
  position: fixed;
  bottom: 10rem;
  right: 10rem;
  z-index: 1000;
  transition: all .4s; }
  .chat-icon p {
    display: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: #3b4546;
    font-weight: 700;
    padding: 2.2rem;
    position: fixed;
    bottom: 10rem;
    right: 15rem;
    width: 20rem; }
  .chat-icon img {
    position: relative;
    top: 1.3rem;
    left: -1.5rem;
    float: right; }
  .chat-icon:hover {
    width: 25rem; }
    .chat-icon:hover p {
      display: inline-block; }

.home-main {
  display: flex;
  justify-content: space-around;
  margin: 8rem 2rem;
  background-color: #bfe9e7; }
  .home-main__img {
    position: relative; }
    .home-main__img .class-img {
      position: relative;
      width: 43.5rem;
      height: 43.5rem;
      border-radius: 800px; }
      .home-main__img .class-img img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 6;
        transition: all 1s; }
      .home-main__img .class-img .shape_img {
        position: absolute;
        top: 34rem;
        left: 0rem;
        z-index: 7; }
      .home-main__img .class-img:hover img {
        transform: translateX(2rem) translateY(-1rem); }
      .home-main__img .class-img:hover .shape_img {
        transform: translateX(-2rem) translateY(1rem); }
    .home-main__img .yellow-circle {
      width: 43.5rem;
      height: 43.5rem;
      background-color: #ffd876;
      border-radius: 800px;
      position: absolute;
      top: 1rem;
      z-index: 5; }
    .home-main__img .grey-circle {
      width: 43.5rem;
      height: 43.5rem;
      background-color: #ABD3D1;
      border-radius: 800px;
      position: absolute;
      top: 3rem;
      left: 1rem;
      z-index: 4; }
  .home-main__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .home-main__text h2 {
      font-size: 8rem;
      color: #ffffff;
      text-shadow: 2px 2px #00000029;
      font-weight: 700;
      width: 56.5rem; }
    .home-main__text h4 {
      font-size: 4rem;
      color: #3b4546;
      font-weight: 600;
      width: 63rem; }

.our-products {
  display: flex;
  justify-content: space-between;
  margin-top: -20rem; }
  .our-products__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 54rem;
    width: 33.5rem;
    box-shadow: 0px 0px 5px #4275af;
    margin-bottom: 8rem; }
    .our-products__card-top {
      position: relative;
      background-color: #EEF6F6;
      width: 99%;
      height: 21.5rem;
      text-align: center;
      padding: 2rem; }
      .our-products__card-top .product-img {
        position: absolute;
        z-index: 13;
        left: 6.6rem;
        transition: all .5s; }
      .our-products__card-top img:last-child {
        position: absolute;
        z-index: 10;
        left: 11rem;
        top: 5rem;
        width: 12rem; }
    .our-products__card p {
      padding: 2rem; }
    .our-products__card a {
      font-size: 2.5rem;
      color: #3b4546;
      font-weight: 600;
      border-bottom: 2px solid #3b4546; }
      .our-products__card a i {
        transition: all .5s; }
    .our-products__card:hover {
      border: solid 1px #3b4546; }
      .our-products__card:hover .product-img {
        transform: scale(1.1); }
      .our-products__card:hover i {
        transform: translateX(1rem); }

.our-purpose {
  display: flex; }
  .our-purpose__img {
    position: relative; }
    .our-purpose__img-text {
      position: absolute;
      top: 42%;
      left: 20%; }
      .our-purpose__img-text p {
        font-size: 2.5rem;
        color: #ffffff;
        text-align: center; }
  .our-purpose__info {
    background-color: #ebf8f7;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative; }
    .our-purpose__info-section {
      margin: 9.5rem auto 0 5.6rem; }
      .our-purpose__info-section div {
        display: flex; }
        .our-purpose__info-section div p {
          width: 59rem;
          margin-bottom: 5rem; }
    .our-purpose__info .star-icon {
      height: 5.7rem;
      width: 5.7rem;
      background-color: #88e2a6;
      border-radius: 50%;
      font-size: 3rem;
      color: #ffffff;
      margin-right: 1.7rem; }
      .our-purpose__info .star-icon i {
        padding: 1.2rem; }
    .our-purpose__info a {
      position: absolute;
      bottom: 2rem;
      right: 15rem; }

.features {
  display: flex;
  border-bottom: 4px dashed #ffffff; }
  .features-info {
    padding: 10rem 0 4rem 0;
    margin-right: 2rem; }
    .features-info h3 {
      width: 57rem;
      font-size: 3.7rem;
      color: #3b4546;
      text-transform: uppercase;
      margin-bottom: .2rem; }
    .features-info > p {
      font-size: 2.9rem;
      color: #ffffff;
      width: 49.2rem;
      margin-bottom: 4.7rem; }
    .features-info__point {
      position: relative;
      margin-bottom: 3.2rem; }
      .features-info__point h6 {
        margin-bottom: .4rem; }
      .features-info__point span {
        position: absolute;
        top: -1rem;
        left: -1rem;
        z-index: -1;
        display: inline-block;
        height: 2.4rem;
        width: 2.4rem;
        background-color: #ffd876;
        border-radius: 50%; }
      .features-info__point p {
        width: 51rem; }
  .features-img-div {
    background-color: #ffd876;
    position: relative; }
    .features-img-div__main {
      margin-top: 15rem; }
    .features-img-div__shape {
      position: absolute;
      top: 10rem;
      right: -10rem; }
    .features-img-div__comp {
      position: absolute;
      bottom: -5rem;
      right: -12rem; }
    .features-img-div:hover__shape {
      display: none; }
    .features-img-div:hover__comp {
      position: absolute;
      bottom: -5rem;
      right: -12rem; }

.testimonials {
  margin-top: 8rem;
  margin-bottom: 10rem; }
  .testimonials h6 {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center; }
  .testimonials h3 {
    margin-bottom: 5rem; }
  .testimonials-quotes {
    display: flex;
    justify-content: space-around;
    text-align: center; }
    .testimonials-quotes .main-text {
      font-style: italic;
      margin: 2.1rem 0;
      height: 24rem; }
    .testimonials-quotes__item {
      background-color: #ebf8f7;
      max-width: 48rem;
      padding: 2.8rem;
      border-radius: 10px;
      box-shadow: 10px 10px 0px #0000000D; }
      .testimonials-quotes__item img {
        width: 3.4rem;
        height: 3.3rem; }
      .testimonials-quotes__item span {
        font-size: 2rem;
        color: #88e2a6;
        font-weight: 600; }
      .testimonials-quotes__item .job-desc {
        font-size: 2rem;
        font-weight: 400;
        color: #88e2a6; }

.newsletter {
  display: flex;
  justify-content: space-around;
  background-color: #ebf8f7;
  padding-bottom: 4rem; }
  .newsletter-img {
    position: relative;
    height: 40.4rem;
    width: 31.3rem;
    border-radius: 157px 157px 0px 0px;
    margin-top: -5rem; }
    .newsletter-img img {
      position: relative;
      z-index: 11; }
    .newsletter-img .img-shadow {
      position: absolute;
      z-index: 10;
      height: 40.4rem;
      width: 31.3rem;
      border-radius: 157px 157px 0px 0px;
      background-color: #88e2a6;
      top: 1.5rem;
      left: -1.5rem; }
  .newsletter-form {
    margin-top: 11.5rem; }
    .newsletter-form h6 {
      font-size: 2.5rem;
      color: #88e2a6;
      font-weight: 600;
      text-align: center; }
    .newsletter-form h3 {
      margin: .4rem 0 5.5rem 0; }
    .newsletter-form input,
    .newsletter-form input:focus {
      height: 4rem;
      width: 42rem;
      font-size: 2rem;
      font-weight: 300;
      border: none;
      outline: none;
      padding: 1rem; }
    .newsletter-form a {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 600;
      background-color: #ffd876;
      padding: .8rem 4rem;
      color: #3b4546; }

.product-main__header {
  margin-top: 15rem;
  padding: 0rem 5rem 0 5rem; }
  .product-main__header h2 {
    color: #ffd876;
    font-size: 7.5rem;
    text-shadow: 0px 3px 6px #00000029; }
  .product-main__header p {
    color: #ffffff;
    font-size: 3.5rem;
    width: 46rem; }

.product-main__image {
  margin-top: 2rem;
  margin-right: 10rem;
  position: relative; }
  .product-main__image .rect-shape {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: -1; }

.display-cards {
  display: flex;
  background-color: #bfe9e7;
  justify-content: space-between;
  padding-bottom: 15rem; }
  .display-cards > div {
    margin-top: -10rem;
    width: 35rem; }
  .display-cards .display-text {
    padding: 1rem; }
    .display-cards .display-text h6 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem; }
    .display-cards .display-text__div {
      position: relative;
      height: 6rem; }
      .display-cards .display-text__div p {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        z-index: 100;
        position: absolute; }
      .display-cards .display-text__div span {
        position: absolute;
        height: 2rem;
        width: 2rem;
        background-color: #ffd876;
        border-radius: 50%;
        top: -0.5rem;
        left: -1rem;
        z-index: 0; }

.usecase {
  background-color: #e3f1f0; }
  .usecase-office {
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding-bottom: 15rem; }
    .usecase-office__img {
      margin-top: -10rem;
      position: relative;
      z-index: 0; }
      .usecase-office__img .office-img1 {
        position: absolute;
        bottom: -10rem;
        right: -10rem; }
      .usecase-office__img .office-img2 {
        position: absolute;
        top: 20rem;
        left: -20rem;
        z-index: -1; }
    .usecase-office__text {
      margin: 10rem 0rem; }
      .usecase-office__text p {
        font-size: 2rem;
        margin-top: 2rem;
        width: 48rem; }
        .usecase-office__text p span {
          font-weight: 600;
          text-decoration: underline; }
  .usecase-classroom {
    display: flex;
    justify-content: center;
    padding-bottom: 15rem; }
    .usecase-classroom__text {
      margin: 10rem 0rem; }
      .usecase-classroom__text p {
        font-size: 2rem;
        margin-top: 2rem;
        width: 48rem; }
        .usecase-classroom__text p span {
          font-weight: 600;
          text-decoration: underline; }
    .usecase-classroom__img {
      margin-top: -10rem;
      position: relative;
      z-index: 0; }
      .usecase-classroom__img .classroom-img1 {
        position: absolute;
        bottom: -3rem;
        left: 0rem; }
      .usecase-classroom__img .classroom-img2 {
        position: absolute;
        top: 5rem;
        right: 0rem;
        z-index: 1; }
  .usecase-home {
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding-bottom: 8rem; }
    .usecase-home__img {
      margin-top: -10rem;
      position: relative;
      z-index: 0; }
      .usecase-home__img .home-img1 {
        position: absolute;
        bottom: -5rem;
        right: -8rem; }
      .usecase-home__img .home-img2 {
        position: absolute;
        top: 20rem;
        left: -20rem;
        z-index: -10; }
    .usecase-home__text {
      margin: 10rem 0rem; }
      .usecase-home__text p {
        font-size: 2rem;
        margin-top: 2rem;
        width: 48rem; }
        .usecase-home__text p span {
          font-weight: 600;
          text-decoration: underline; }

.contact-form {
  position: relative;
  z-index: 5;
  background-color: #bfe9e7;
  padding: 5rem 16rem; }
  .contact-form p {
    color: #4275af;
    font-size: 2.5rem; }
  .contact-form__section {
    background-color: #ffffff;
    padding: 4rem 8rem 8rem 8rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px #00000029; }
    .contact-form__section form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem; }
      .contact-form__section form .input-name,
      .contact-form__section form .input-email,
      .contact-form__section form .input-phone {
        border: 2px solid #bfe9e7;
        display: flex; }
        .contact-form__section form .input-name label,
        .contact-form__section form .input-email label,
        .contact-form__section form .input-phone label {
          background-color: #bfe9e7;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem; }
        .contact-form__section form .input-name > input,
        .contact-form__section form .input-email > input,
        .contact-form__section form .input-phone > input {
          height: 100%;
          border: none;
          padding: 2rem; }
      .contact-form__section form .input-location {
        border: 2px solid #bfe9e7;
        display: flex; }
        .contact-form__section form .input-location label:first-child {
          background-color: #bfe9e7;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem; }
        .contact-form__section form .input-location .location-usa,
        .contact-form__section form .input-location .location-canada {
          margin-left: 2rem;
          border: 1px solid red; }
        .contact-form__section form .input-location label {
          font-size: 1.4rem;
          font-weight: 300;
          padding: 2rem; }
      .contact-form__section form .input-interest,
      .contact-form__section form .input-solution {
        border: 2px solid #bfe9e7;
        display: grid; }
        .contact-form__section form .input-interest .main-label,
        .contact-form__section form .input-solution .main-label {
          background-color: #bfe9e7;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem; }
        .contact-form__section form .input-interest .interests,
        .contact-form__section form .input-solution .interests {
          display: flex;
          flex-wrap: wrap; }
          .contact-form__section form .input-interest .interests label,
          .contact-form__section form .input-solution .interests label {
            font-size: 1.4rem;
            font-weight: 300;
            width: 50%;
            padding: 2rem; }
      .contact-form__section form .input-quote {
        border: 2px solid #bfe9e7;
        display: flex;
        width: 100%;
        grid-row: 4/5;
        grid-column: 1/3; }
        .contact-form__section form .input-quote .main-label {
          background-color: #bfe9e7;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem;
          width: 50%; }
        .contact-form__section form .input-quote__options {
          font-size: 1.4rem;
          font-weight: 600;
          align-self: center;
          padding: 0 2rem; }
          .contact-form__section form .input-quote__options input {
            margin-right: 1rem;
            margin-left: 1rem; }
      .contact-form__section form .input-text {
        width: 100%;
        border: 2px solid #bfe9e7;
        display: flex;
        flex-direction: column;
        grid-row: 4/5;
        grid-column: 1/3; }
        .contact-form__section form .input-text .main-label {
          background-color: #bfe9e7;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem;
          width: 100%; }
        .contact-form__section form .input-text textarea {
          outline: none;
          border: none;
          height: 15rem; }
    .contact-form__section a {
      float: right; }

.product-body {
  position: relative; }

.product-main {
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vh; }
  .product-main header {
    background-color: #ffffff;
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 55% 100%);
    position: absolute;
    top: -30rem;
    height: 115vh;
    width: 98.8vw;
    z-index: -1; }
  .product-main__info {
    background-color: #ffffff;
    max-height: 50rem;
    padding: 3rem 3rem 5rem 5rem;
    margin-right: -6rem;
    margin-top: 3rem;
    z-index: 2; }
    .product-main__info p {
      font-size: 3.5rem;
      font-weight: 600;
      color: #3b4546;
      width: 45rem;
      margin: 1rem 0rem 6rem 0; }
  .product-main__img {
    height: 58.6rem;
    width: 68.3rem; }
    .product-main__img img {
      height: 100%;
      width: 100%; }
  .product-main .main-shape {
    position: absolute;
    bottom: 5rem;
    right: 0rem; }

.product-services {
  display: flex;
  justify-content: space-around;
  padding: 8rem 0 18rem 0;
  background-color: #ffffff; }
  .product-services__item {
    position: relative;
    z-index: 5; }
    .product-services__item .service-img {
      text-align: center;
      padding: 0 3.5rem; }
    .product-services__item .service-shape {
      z-index: -1;
      position: absolute;
      top: 2rem;
      left: 6.5rem; }
    .product-services__item h5 {
      text-align: center;
      margin-top: 4rem;
      width: 21rem; }

.classroom {
  display: flex;
  background-color: #e3f1f0;
  padding-top: 8rem;
  position: relative; }
  .classroom-left {
    margin-top: 15rem;
    margin-bottom: -10rem;
    z-index: 1; }
  .classroom-middle h3 {
    margin-left: -28rem;
    padding: 0 10rem;
    margin-bottom: 5rem; }
  .classroom-middle p {
    padding: 0rem 3rem 3rem 3rem;
    text-align: left; }
  .classroom-right {
    margin-top: -22rem;
    margin-right: 6rem;
    z-index: 2; }
  .classroom-shape {
    position: absolute;
    top: 15rem;
    right: 0;
    z-index: 1; }

.products-section {
  background-color: #89bbe0;
  padding: 20rem 0 8rem 0;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden; }
  .products-section .product-shape {
    position: absolute;
    right: -18rem;
    top: 5rem;
    background-color: #ffd876;
    height: 38rem;
    width: 38rem;
    border-radius: 50%;
    z-index: 0; }
  .products-section__item {
    border-radius: 10px;
    padding-bottom: 2rem;
    background-color: transparent; }
    .products-section__item-img {
      background-color: #ffffff;
      box-shadow: 3px 3px 20px #00000029;
      border-radius: 10px 10px 0px 0px;
      width: 47rem;
      height: 26.4rem;
      position: relative;
      z-index: 2; }
      .products-section__item-img img {
        transition: all 0.5s;
        position: absolute;
        top: 3rem;
        left: 13rem;
        z-index: 6; }
      .products-section__item-img .item-shape {
        position: absolute;
        top: 6rem;
        left: 3.5rem;
        z-index: 0; }
    .products-section__item-desc h5 {
      margin-top: 4rem; }
    .products-section__item-desc ul {
      padding: 1rem 0 2rem 2rem; }
      .products-section__item-desc ul li {
        padding: 1rem 0; }
    .products-section__item-desc i {
      padding-left: 1rem;
      font-weight: 400; }
    .products-section__item:hover {
      background-color: #ffffff; }
      .products-section__item:hover div:first-child {
        background-color: #bfe9e7; }
        .products-section__item:hover div:first-child img:first-child {
          transform: scale(1.1); }
      .products-section__item:hover h5 {
        transition: all 0.5s;
        margin-left: 2rem; }
      .products-section__item:hover ul {
        transition: all 0.5s;
        margin-left: 2rem; }
      .products-section__item:hover a {
        text-align: center;
        margin: 0 2.5rem;
        min-width: 42rem; }
      .products-section__item:hover a:hover {
        background-color: #ffd876;
        border: 3px solid transparent; }
        .products-section__item:hover a:hover i {
          margin-left: 1rem; }

.product-solutions {
  background-color: #bfe9e7; }
  .product-solutions__mobile {
    padding: 15rem 0 10rem 0; }
  .product-solutions .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem 2rem; }
    .product-solutions .products-heading {
      background-color: #88e2a6;
      height: 36rem;
      border-radius: 0px 1000px 1000px 0px;
      position: relative;
      margin-left: -6rem; }
      .product-solutions .products-heading h3 {
        text-align: center;
        width: 35rem;
        margin: 12.5rem 0 0 28rem; }
      .product-solutions .products-heading-shape {
        height: 36rem;
        width: 100%;
        color: transparent;
        border: 3px solid #ffd876;
        border-radius: 0px 1000px 1000px 0px;
        position: absolute;
        top: -1rem;
        right: 1rem; }
    .product-solutions .products-heading2 {
      background-color: #ffd876;
      height: 36rem;
      border-radius: 1000px 0px 0px 1000px;
      position: relative;
      margin-right: -6rem; }
      .product-solutions .products-heading2 h3 {
        text-align: center;
        width: 35rem;
        margin: 12.5rem 0 0 28rem; }
      .product-solutions .products-heading2-shape {
        height: 36rem;
        width: 101%;
        color: transparent;
        border: 3px solid #88e2a6;
        border-radius: 1000px 0px 0px 1000px;
        position: absolute;
        top: -1rem;
        right: 0rem; }
    .product-solutions .products-img, .product-solutions .products-img2 {
      height: 36rem;
      background-color: #ffffff;
      text-align: center;
      overflow: hidden; }
      .product-solutions .products-img a, .product-solutions .products-img2 a {
        width: 100%; }
      .product-solutions .products-img img, .product-solutions .products-img2 img {
        transition: all 0.5s; }
      .product-solutions .products-img span, .product-solutions .products-img2 span {
        text-align: center;
        width: 100%;
        font-size: 4rem;
        background-color: #89bbe0;
        display: block;
        color: #3b4546;
        padding: 2rem 0;
        transition: all 0.5s; }
      .product-solutions .products-img:hover img, .product-solutions .products-img2:hover img {
        transform: scale(0.9); }
      .product-solutions .products-img:hover span, .product-solutions .products-img2:hover span {
        transform: translateY(-9rem); }
    .product-solutions .products-img2 {
      padding: 4rem 0; }

.accessories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 10rem;
  grid-gap: 3rem; }
  .accessories-heading {
    grid-column: 1 / 4;
    background-color: #88e2a6;
    border-radius: 0px 1000px 1000px 0px;
    height: 13.7rem;
    position: relative;
    margin-left: -8rem; }
    .accessories-heading__shape {
      position: absolute;
      top: -1rem;
      left: -1rem;
      width: 100%;
      height: 13.7rem;
      border: 3px solid #ffd876;
      color: transparent;
      border-radius: 0px 1000px 1000px 0px; }
  .accessories-img {
    background-color: #ffffff;
    overflow: hidden;
    position: relative; }
    .accessories-img span {
      position: absolute;
      text-align: center;
      width: 100%;
      font-size: 3.5rem;
      background-color: #89bbe0;
      display: block;
      color: #3b4546;
      padding: 1.5rem 0;
      transition: all 0.5s; }
    .accessories-img:hover img {
      transform: scale(0.9); }
    .accessories-img:hover span {
      transform: translateY(-7rem); }

.question {
  background-color: #bfe9e7;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .question-text {
    font-size: 2.5rem;
    color: #89bbe0;
    text-align: center; }
  .question h3 {
    margin-bottom: 2rem; }
  .question-section {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 4.2rem 8rem 12rem 8rem;
    position: relative; }
    .question-section p {
      font-size: 3rem;
      color: #3b4546;
      font-weight: 600;
      margin-bottom: 4rem; }
    .question-section__option {
      border: 2px solid #bfe9e7;
      padding: 1rem 4rem;
      font-size: 2rem;
      color: #3b4546;
      font-weight: 600;
      border-radius: 100px 100px 100px 100px;
      margin-right: 4rem; }
      .question-section__option:hover {
        background-color: #89bbe0; }
    .question-section .navigation {
      position: absolute;
      bottom: 2rem;
      right: 8rem;
      cursor: pointer; }
      .question-section .navigation .back {
        font-size: 2rem;
        margin-right: 2rem; }

.video-section {
  text-align: center;
  background-color: #e3f1f0;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .video-section h3 {
    margin-bottom: 2rem; }
  .video-section__video {
    height: 50rem; }
    .video-section__video iframe {
      width: 80%;
      height: 100%; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup-close {
    text-decoration: none !important; }
    .popup-close:link, .popup-close:visited {
      position: absolute;
      color: #3b4546;
      top: 0;
      right: 5rem;
      font-size: 5rem;
      display: inline-block; }
    .popup-close:hover {
      color: #ffffff; }
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 74.2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #bfe9e7;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    flex-wrap: wrap; }
    .popup-content__right {
      flex: 0 0 48%; }
      .popup-content__right p {
        font-size: 2rem;
        color: #ffffff;
        margin: 2rem 0; }
      .popup-content__right ul {
        padding: 0 1.5rem; }
        .popup-content__right ul li {
          color: #3b4546;
          font-size: 2rem;
          padding: 1rem 0; }
      .popup-content__right a {
        font-size: 1.8rem;
        color: #3b4546;
        padding: 1rem;
        font-weight: 600;
        text-decoration: underline; }
    .popup-content__left {
      position: relative;
      flex: 0 0 48%; }
      .popup-content__left .main-img {
        background-color: #ffd876;
        padding: 0rem 3.5rem;
        margin-top: 12rem; }
      .popup-content__left .sec-img {
        position: absolute;
        bottom: 13rem;
        right: 10rem; }
      .popup-content__left .shape {
        position: absolute;
        right: 10rem;
        z-index: -1; }
      .popup-content__left a {
        margin: 15rem 0 0 8rem; }
    .popup-content__link {
      position: absolute;
      bottom: 3rem;
      right: 3rem; }

.flexdesk {
  background-color: #bfe9e7;
  padding-bottom: 20rem; }
  .flexdesk-first {
    display: flex;
    justify-content: center; }
    .flexdesk-first__text {
      width: 42rem;
      margin: 10rem 3rem 0 0; }
    .flexdesk-first__img {
      position: relative;
      margin-top: -8rem; }
      .flexdesk-first__img .first-shape {
        position: absolute;
        bottom: 0;
        right: -10rem; }
  .flexdesk-second {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    gap: 4rem; }
    .flexdesk-second__img {
      position: relative;
      margin-top: -10rem; }
      .flexdesk-second__img .second-img {
        position: relative;
        z-index: 1; }
      .flexdesk-second__img .second-shape {
        position: absolute;
        left: 0;
        z-index: 0; }
    .flexdesk-second__text {
      font-size: 2rem; }
      .flexdesk-second__text li {
        list-style: none;
        margin-bottom: 2rem;
        position: relative; }
        .flexdesk-second__text li span {
          position: absolute;
          left: -3rem;
          height: 1rem;
          border-radius: 50%;
          width: 1rem;
          background-color: #ffd876; }

.flexdesk-video {
  background-color: #e3f1f0;
  padding: 1rem 16rem 10rem 16rem;
  text-align: center; }
  .flexdesk-video iframe {
    width: 100%;
    height: 58rem;
    margin-top: -20rem; }

.reachtec-card {
  display: flex;
  justify-content: space-around;
  background-color: #bfe9e7;
  padding: 25rem 0 40rem 0;
  position: relative;
  overflow: hidden; }
  .reachtec-card__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;
    max-width: 33rem; }
    .reachtec-card__section .info-section {
      height: 38rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left; }
  .reachtec-card .reachtec-shape {
    position: absolute;
    top: 10rem;
    left: -15rem;
    height: 38rem;
    width: 38rem;
    border-radius: 50%;
    background-color: #ffd876; }

.reachtec-videos {
  background-color: #89bbe0;
  padding-bottom: 5rem;
  z-index: 100;
  position: relative; }
  .reachtec-videos .main-video img {
    margin-top: -25rem; }
  .reachtec-videos .sub-videos {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    gap: 1rem; }
