$color-blue-light: #bfe9e7;
$color-dark-blue: #89bbe0;
$color-yellow: #ffd876;
$color-green: #88e2a6;
$color-grey: #3b4546;
$color-blue: #4275af;
$color-white: #ffffff;
$color-black: #000000;
<<<<<<< HEAD
$color-green-light:#EBF8F7;
$color-blue-light-2:#E3F1F0;


=======
$color-green-light: #ebf8f7;
$color-blue-light-2: #e3f1f0;
>>>>>>> 5796224eadfb62d064a9a5cffc20ebe7300b835e
