$color-blue-light: #bfe9e7;
$color-dark-blue: #89bbe0;
$color-yellow: #ffd876;
$color-green: #88e2a6;
$color-grey: #3b4546;
$color-blue: #4275af;
$color-white: #ffffff;
$color-black: #000000;
$color-green-light: #ebf8f7;
$color-blue-light-2: #e3f1f0;
