$color-blue-light: #BFE9E7;
$color-dark-blue: #89BBE0;
$color-yellow: #FFD876;
$color-green: #88E2A6;
$color-grey: #3B4546;
$color-blue: #4275af;
$color-white: #ffffff;
$color-black: #000000;
$color-green-light:#EBF8F7;
$color-blue-light-2:#E3F1F0;


