* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-grey;

}

html {
  font-size: 62.5%;
}

body {
  font-family: Barlow, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}


.container {
  // margin-left: 6.2rem;
  // margin-right: 6.2rem;
  padding-left: 6.2rem;
  padding-right: 6.2rem;
}

.bg-white{
  background-color: $color-white;
}

.align-center {
  text-align: center;
}

.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-6 {
  margin-bottom: 6rem;
}

.header-3{
  color: $color-grey;
  font-size: 4rem;
  text-transform: uppercase;
}
.header-3-yellow{
  @extend .header-3;
  color: $color-yellow;
}
.header-3-lower{
  color: $color-grey;
  font-size: 4rem;
  font-weight: 600;
}

.header-5 {
  font-size: 3rem;
  color: $color-grey;
  font-weight: 600;
}
.header-6 {
  font-size: 2.5rem;
  color: $color-grey;
  font-weight: 500;
}

.p-20 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: $color-grey;
  font-weight: 500;
}
.p-20-light {
  @extend .p-20;
  font-weight: 300;
}

.d-block {
  display: block;
}