.new-container {
  overflow: hidden;
  .news-main {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0;

    @media (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      align-self: center;
      h2 {
        font-size: 7.5rem;
        font-weight: 700;
        text-shadow: 0px 3px 6px #00000029;
        color: $color-yellow;
      }

      p {
        color: $color-white;
        font-size: 3.5rem;
      }

      @media (max-width: 1000px) {
        h2 {
          font-size: 7rem;
        }
      }
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 80%;
      height: 100%;

      .main-img {
        width: 100%;
        height: 100%;
      }

      .about-img {
        width: 65%;
        height: 65%;
      }
      .news-shape {
        position: absolute;
        left: 1rem;
        top: 1rem;
        z-index: -1;
        width: 100%;
        height: 100%;
      }

      .news-shape-circle {
        position: absolute;
        top: -3rem;
        left: 6rem;
        z-index: -1;
        width: 50%;
        height: 50%;
      }
    }
  }

  .news-header {
    position: absolute;
    background-color: $color-green;
    height: 10rem;
    width: 10rem;
    top: 0;
    right: 0;
    z-index: -1;
    width: 40%;
    height: 100%;
  }

  .faq-header {
    @extend .news-header;
    background-color: $color-blue-light;
  }
}

.news-dotcircle {
  position: absolute;
  right: -10rem;
  top: 0rem;
  z-index: -1;
}

.news-section {
  background-color: $color-white;
  padding-top: 5rem;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "small1 large large"
    "small2 large large"
    "medium medium small3";

  @media (max-width: 1000px) {
    grid-template-areas:
      "large large large"
      "large large large"
      "small1 small2 small3"
      "medium medium medium";
  }
  @media (max-width: 700px) {
    grid-template-areas:
      "large large large"
      "large large large"
      "small1 small1 small1"
      "small2 small2 small2"
      "small3 small3 small3"
      "medium medium medium";
  }

  div {
    background-color: $color-blue-light-2;
  }

  &__small {
    background-color: $color-blue-light-2;

    .news-sm-img {
      img {
        width: 100%;
      }
    }
    .small-text {
      max-width: 39rem;
      padding: 2rem;
    }
  }

  &__large {
    // grid-column: 2/4;
    grid-area: large;
    .news-lg-img {
      img {
        width: 100%;
      }
    }

    .large-desc {
      padding: 0 3em;
      .large-text {
        display: flex;
        justify-content: space-between;
      }

      .news-button {
        text-align: right;
        // margin-right: 6rem;
      }
    }
  }

  &__medium {
    grid-area: medium;

    .news-md-img {
      img {
        width: 100%;
      }
    }

    .medium-desc {
      padding: 1rem 3rem;

      .medium-text {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .learn-more {
    display: inline-block;
    font-size: 2rem;
    color: $color-white;
    text-decoration: underline;
    text-align: left;
  }
}

.news-footer {
  display: inline;
  margin-right: 1rem;
  i {
    color: $color-green;
    margin-right: 0.5rem;
  }
}

.blue-bg {
  background-color: $color-dark-blue;
  height: 35rem;
  margin-top: -22rem;
}
