// CARDS SECTION
.display-cards {
  display: flex;
  background-color: $color-blue-light;
  justify-content: space-between;
  padding-bottom: 15rem;
  gap: 1rem;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    padding: 0 8rem;
    & > div {
      margin-bottom: 15rem;
      img {
        width: 100%;
      }
    }
  }
  & > div {
    margin-top: -10rem;
    // width: 35rem;

    img {
      width: 100%;
    }
  }

  .display-text {
    padding: 1rem;
    h6 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    &__div {
      position: relative;
      height: 6rem;
      p {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        z-index: 100;
        position: absolute;
      }
      span {
        position: absolute;
        height: 2rem;
        width: 2rem;
        background-color: $color-yellow;
        border-radius: 50%;
        top: -0.5rem;
        left: -1rem;
        z-index: 0;
      }
      @media (max-width: 800px) {
        height: 9rem;
      }
    }
  }
}

// USECASE SECTION
.usecase {
  background-color: $color-blue-light-2;

  &-office {
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding-bottom: 15rem;

    &__img {
      margin-top: -10rem;
      position: relative;
      z-index: 0;

      .office-img1 {
        position: absolute;
        bottom: -10rem;
        right: -10rem;
      }
      .office-img2 {
        position: absolute;
        top: 20rem;
        left: -20rem;
        z-index: -1;
      }
    }

    &__text {
      margin: 10rem 0rem;
      p {
        font-size: 2rem;
        margin-top: 2rem;
        // width: 48rem;
        span {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }

    // @media (max-width: 800px) {
    //   &__img {
    //     width: 80%;
    //     // max-width: 20rem;
    //     img {
    //       width: 100%;
    //     }
    //   }
    // }

    @media (max-width: 750px) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0rem;

      .office-img2 {
        display: none;
      }

      .office-img1 {
        right: -5rem;
      }
    }

    &__text {
      margin: 0rem;
    }
  }

  &-classroom {
    display: flex;
    justify-content: center;
    padding-bottom: 15rem;

    &__text {
      margin: 10rem 0rem;
      p {
        font-size: 2rem;
        margin-top: 2rem;
        span {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }

    &__img {
      margin-top: -10rem;
      position: relative;
      z-index: 0;

      .classroom-img1 {
        position: absolute;
        bottom: -3rem;
        left: 0rem;
      }
      .classroom-img2 {
        position: absolute;
        top: 5rem;
        right: 0rem;
        z-index: 1;
      }
    }
    @media (max-width: 750px) {
      flex-direction: column;
      align-items: center;
    }
  } // OFFICE END

  &-home {
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding-bottom: 8rem;

    &__img {
      margin-top: -10rem;
      position: relative;
      z-index: 0;

      .home-img1 {
        position: absolute;
        bottom: -5rem;
        right: -8rem;
      }
      .home-img2 {
        position: absolute;
        top: 20rem;
        left: -20rem;
        z-index: -10;
      }
    }

    &__text {
      margin: 10rem 0rem;
      p {
        font-size: 2rem;
        margin-top: 2rem;
        width: 48rem;
        span {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
    @media (max-width: 750px) {
      flex-direction: column;
      align-items: center;
    }
  } // Home END
}

// CONTACT FROM START
.contact-form {
  position: relative;
  z-index: 5;
  // background-color: $color-blue-light;
  // padding: 5rem 16rem;
  width: 90%;
  margin: 10rem auto 5rem auto;
  p {
    color: $color-blue;
    font-size: 2.5rem;
  }

  &__section {
    background-color: $color-white;
    padding: 4rem 8rem 8rem 8rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px #00000029;
    // display: flex;

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;

      .input-name,
      .input-email,
      .input-phone {
        border: 2px solid $color-blue-light;
        display: flex;

        label {
          width: 16rem;
          background-color: $color-blue-light;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem;
        }
        & > input {
          height: 100%;
          border: none;
          padding: 2rem;
        }
      }

      .input-location {
        // height: 5rem;
        border: 2px solid $color-blue-light;
        display: flex;
        justify-content: space-between;
        & label:first-child {
          background-color: $color-blue-light;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem;
          width: 16rem;
        }

        .location-usa,
        .location-canada {
          margin-left: 2rem;
          border: 1px solid red;
        }

        & label {
          font-size: 1.4rem;
          font-weight: 300;
          padding: 2rem;
        }
      }

      .input-interest,
      .input-solution {
        border: 2px solid $color-blue-light;
        display: grid;
        .main-label {
          background-color: $color-blue-light;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem;
        }

        .interests {
          display: flex;
          flex-wrap: wrap;
          label {
            font-size: 1.4rem;
            font-weight: 300;
            width: 50%;
            padding: 2rem;
          }
        }
      }

      .input-quote {
        border: 2px solid $color-blue-light;
        display: flex;
        width: 100%;
        grid-row: 4/5;
        grid-column: 1/3;
        .main-label {
          background-color: $color-blue-light;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem;
          width: 50%;
        }

        &__options {
          font-size: 1.4rem;
          font-weight: 600;
          align-self: center;
          padding: 0 2rem;
          input {
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }
      }

      .input-text {
        width: 100%;
        border: 2px solid $color-blue-light;
        display: flex;
        flex-direction: column;
        grid-row: 4/5;
        grid-column: 1/3;
        .main-label {
          background-color: $color-blue-light;
          font-size: 1.5rem;
          font-weight: 600;
          padding: 2rem;
          width: 100%;
        }

        textarea {
          outline: none;
          border: none;
          height: 15rem;
        }
      }
      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
      }
    }
    a {
      float: right;
    }
  } // FORM SECTION END
}
